@import url('https://css.gg/menu.css');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.cabecalho {
    position: relative;
    display: flex;
    width: 100%;
    height: 50px;
}

.barra-navegacao {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0px 20px;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}


.imagem-perfil {
    position: relative;
    display: flex;
    width: 35px;
    height: 35px;
    background-color: #8dadb0;
    border-radius: 50%;
}

.lista-navegacao {
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
    list-style: none;
    transition: all 1s ease;
}

.lista-navegacao li {
    position: relative;
    display: flex;
    width: 50px;
    height: 20px;
    margin: 0px 15px;
    border-radius: 5px;
    background-color: #8dadb0;
}

.gg-menu {
    position: absolute;
    right: 5%;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.container {
    position: relative;
    display: flex;
    width: 100%;
    padding-top: 20px;
}

.sessao-principal {
    position: relative;
    display: grid;
    width: 100%;
    margin: 10px;
    justify-content: center;
    grid-template-columns: auto auto auto auto;
    gap: 1.2%;
}

.sessao-principal .item-grid-1 {
    position: relative;
    background-color: #8dadb0;
    width: 100%;
    height: 100%;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}

.sessao-principal div {
    position: relative;
    display: flex;
    background-color: #8dadb0;
    border-radius: 5px;
    width: 22vw;
    height: 28vh;
}

@media screen and (max-width: 768px) {

    .imagem-perfil {
        position: absolute;
    }

    .lista-navegacao {
        transform: translateX(200%);
    }

    .gg-menu {
        opacity: 1;
    }

    .sessao-principal {
        position: relative;
        display: grid;
        justify-content: center;
        grid-template-columns: auto auto;
        gap: 1.2%;
    }

    .sessao-principal .item-grid-1 {
        position: relative;
        background-color: #8dadb0;
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .sessao-principal div {
        position: relative;
        background-color: #8dadb0;
        border-radius: 5px;
        width: 42vw;
        height: 130px;
    }

}

@media screen and (max-width: 375px) {

    .sessao-principal {
        position: relative;
        display: grid;
        justify-content: center;
        grid-template-columns: auto;
        gap: 0.5%;
    }

    .sessao-principal div {
        position: relative;
        background-color: #8dadb0;
        border-radius: 5px;
        width: 72vw;
        height: 130px;
    }

}
